pipeline_jsons/pipelines/CustomerDataPipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_SQLDatabase":{"type":"string"},"LS_ADLSGen2":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/CustomerDataPipeline')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"GetCustomerCount","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":"SELECT COUNT(*) AS CustomerCount FROM Customer","queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"CustomersDataset","type":"DatasetReference","parameters":{}}}},{"name":"CheckCustomerCount","type":"IfCondition","dependsOn":[{"activity":"GetCustomerCount","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@greater(activity('GetCustomerCount').output.firstRow.CustomerCount, 500)","type":"Expression"},"ifTrueActivities":[{"name":"CopyCustomerData","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"CustomersDataset","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"CustomerOutputDataset","type":"DatasetReference","parameters":{}}]},{"name":"CallProductPipeline","type":"ExecutePipeline","dependsOn":[{"activity":"CopyCustomerData","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"ProductDataPipeline","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"CustomerCount":{"value":"@activity('GetCustomerCount').output.firstRow.CustomerCount\n","type":"Expression"}}}}]}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2025-07-09T14:10:42Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/CustomersDataset')]","[concat(variables('factoryId'), '/datasets/CustomerOutputDataset')]","[concat(variables('factoryId'), '/pipelines/ProductDataPipeline')]"]},{"name":"[concat(parameters('factoryName'), '/CustomersDataset')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_SQLDatabase')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"customer_id","type":"int","precision":10},{"name":"name","type":"varchar"},{"name":"address","type":"varchar"},{"name":"phone","type":"varchar"},{"name":"email","type":"varchar"},{"name":"city","type":"varchar"}],"typeProperties":{"schema":"dbo","table":"Customer"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/CustomerOutputDataset')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_ADLSGen2')]","type":"LinkedServiceReference"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"customer-data","fileSystem":"project-data"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ProductDataPipeline')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"CheckCustomerCountForProduct","type":"IfCondition","dependsOn":[],"userProperties":[],"typeProperties":{"expression":{"value":"@greater(pipeline().parameters.CustomerCount, 600)","type":"Expression"},"ifTrueActivities":[{"name":"CopyProductData","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"ProductsDataset","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"ProductOutputDataset","type":"DatasetReference","parameters":{}}]}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"CustomerCount":{"type":"int","defaultValue":0}},"annotations":[],"lastPublishTime":"2025-07-09T14:10:42Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/ProductsDataset')]","[concat(variables('factoryId'), '/datasets/ProductOutputDataset')]"]},{"name":"[concat(parameters('factoryName'), '/ProductsDataset')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_SQLDatabase')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"product_id","type":"int","precision":10},{"name":"name","type":"varchar"},{"name":"category","type":"varchar"},{"name":"price","type":"decimal","precision":10,"scale":2},{"name":"stock_qty","type":"int","precision":10},{"name":"supplier","type":"varchar"}],"typeProperties":{"schema":"dbo","table":"Product"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ProductOutputDataset')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_ADLSGen2')]","type":"LinkedServiceReference"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"product-data","fileSystem":"project-data"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}