pipeline_jsons/pipelines/PL_FetchCountriesData.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_ADLSGen2":{"type":"string"},"LS_RestCountriesAPI":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/PL_FetchCountriesData')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Lookup","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"dataset":{"referenceName":"DS_Json_HTTP","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach","type":"ForEach","dependsOn":[{"activity":"Lookup","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Lookup').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"Copy data","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"JsonReadSettings"}},"sink":{"type":"JsonSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"DS_All_HTTP_Source","type":"DatasetReference","parameters":{"BaseURL":{"value":"@item().BaseURL","type":"Expression"},"RelativeURL":{"value":"@item().RelativeURL","type":"Expression"}}}],"outputs":[{"referenceName":"DS_SinkAllHTTP","type":"DatasetReference","parameters":{"FileName":{"value":"@item().FileName","type":"Expression"}}}]}]}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2025-07-09T10:43:37Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/DS_Json_HTTP')]","[concat(variables('factoryId'), '/datasets/DS_All_HTTP_Source')]","[concat(variables('factoryId'), '/datasets/DS_SinkAllHTTP')]"]},{"name":"[concat(parameters('factoryName'), '/DS_Json_HTTP')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_ADLSGen2')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"HTTPLookupJSON.json","fileSystem":"project-data"}},"schema":{"type":"object","properties":{"BaseURL":{"type":"string"},"RelativeURL":{"type":"string"},"FileName":{"type":"string"}}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_All_HTTP_Source')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_RestCountriesAPI')]","type":"LinkedServiceReference","parameters":{"BaseURL":{"value":"@dataset().BaseURL","type":"Expression"}}},"parameters":{"BaseURL":{"type":"string"},"RelativeURL":{"type":"string"}},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@dataset().RelativeURL","type":"Expression"}}},"schema":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_SinkAllHTTP')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_ADLSGen2')]","type":"LinkedServiceReference"},"parameters":{"FileName":{"type":"string"}},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().FileName","type":"Expression"},"folderPath":"countries-data","fileSystem":"project-data"}},"schema":{}},"dependsOn":[]}]}